.dashboard-background{
    padding-top: 6.7rem;
    width: 37.5rem;
    height: auto;
    margin: auto;
}
.dashboard-login{
    background-color: #fff;
    border-radius: 4rem 4rem 0rem 0rem;
    width: 37.5rem;
    height: 102.2rem;
    margin: 15rem 0rem 0rem 0rem;
    padding-top: 8.9rem;
}
.dashboard-background h6{
    color: #fff;
    font-size: 3rem;
    margin: 0rem 0rem 1.7rem 1.6rem;
    font-weight: 400;
}
.dashboard-background span{
    color: #ffffff60;
    font-size: 1.8rem;
    margin: 0rem 0rem 0rem 1.6rem;
    font-weight: 300;
}
.dashboard-2021{
    width: 8.4rem;
    height: 2.4rem;
    background-color: #fff;
    color: #6184C7;
    border-radius: 3rem;
    margin: 1.3rem 0rem 0rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-circulo{
    position: absolute;
    width: 5.8rem;
    height: 5.8rem;
    background-color: #cacaca;
    border-radius: 100%;
    border: 2px solid #fff;
    margin: 0rem 0rem 0rem 29.9rem;

    top: 9.1rem;
}
.caja_1{
    position: absolute;
    border-radius: 1.2rem;
    border: 1px solid #5278C1;
    width: 163px;
    height: 202px;
    margin: 0rem 0rem 0rem 1.6rem;
    top: 204px;
    background: #FFFFFF;

    padding: 2rem 0rem 2.5rem 2rem;
}
.caja_2{
    position: absolute;
    border-radius: 1.2rem;
    border: 1px solid #5278C1;
    width: 163px;
    height: 202px;
    margin: 0rem 0rem 0rem 19.6rem;
    top: 204px;

    background: #FFFFFF;
    padding: 2rem 0rem 2.5rem 2rem;
}

.caja_1 div{
    width: 72px;
    height: 72px;
    background-color: #FCF3E2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0rem 0rem 2rem 0rem;
}
.caja_1 h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    line-height: 43px;
    color: #202020;
    margin: 0rem 0rem 0.3rem 0rem;
}
.caja_1 p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #777777;
}

.caja_2 div{
    width: 72px;
    height: 72px;
    background-color: #FFD8FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0rem 0rem 2rem 0rem;
}
.caja_2 h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    line-height: 43px;
    color: #202020;
    margin: 0rem 0rem 0.3rem 0rem;
}
.caja_2 p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #777777;
}

.seccion_cajas{
    width: 100%;
    height: auto;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.seccion_cajas div{
    width: 160px;
    height: 132px;
    background-color: #F5F6FC;
    margin: 1rem;

    border-radius: 1rem;
    padding: 2rem;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}
.seccion_cajas img{
    margin: 0rem 0rem 2rem 0rem;
}